<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>bootstrap</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/Project_1</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <!-- 子暘********************************** -->
   <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>P0_login.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/P0_login/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet_boot</servlet-name>
    <servlet-class>P0_login.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet_boot</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>  
    <servlet-name>iduServlet</servlet-name>
    <servlet-class>P1_iud.controller.IUDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>iduServlet</servlet-name>
    <url-pattern>/P1_iud/insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateServlet</servlet-name>
    <servlet-class>P1_iud.controller.IUDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateServlet</servlet-name>
    <url-pattern>/P1_iud/update</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>daleteServlet</servlet-name>
    <servlet-class>P1_iud.controller.IUDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>daleteServlet</servlet-name>
    <url-pattern>/P1_iud/delete</url-pattern>
  </servlet-mapping>
  <!-- 子暘********************************** -->
  <!-- 信豪********************************** -->
  <servlet>
    <servlet-name>MsgServlet</servlet-name>
    <servlet-class>P4_MessageBoard.controller.MsgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MsgServlet</servlet-name>
    <url-pattern>/P4_MessageBoard/leave_msg.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>MsgServletS</servlet-name>
    <servlet-class>P4_MessageBoard.controller.MsgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MsgServletS</servlet-name>
    <url-pattern>/actionS</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ReplyServlet</servlet-name>
    <servlet-class>P4_MessageBoard.controller.ReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyServlet</servlet-name>
    <url-pattern>/P4_MessageBoard/reply.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>P4_MessageBoard.controller.FirstServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/P4_MessageBoard/first.do</url-pattern>
  </servlet-mapping>
  <!-- 信豪********************************** -->
  <!-- 昱豪 **********************************-->
  <servlet>
    <servlet-name>selPlace</servlet-name>
    <servlet-class>P2_route.controller.viewnameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selPlace</servlet-name>
    <url-pattern>/P2_route/selPlace</url-pattern>
  </servlet-mapping>
  <!-- 昱豪 **********************************-->
</web-app>